div{
    background: rgb(25,27,39);
    background: linear-gradient(90deg, rgba(25,27,39,1) 0%, rgba(81,83,98,1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Calibri;
    height: 150px;
    border: 6px dashed rgb(46, 109, 46) ;
}

p{
    letter-spacing: 12px;
    margin: auto;
    color: white;
    font-size: 90px;
    text-align: center;
    text-shadow: rgb(46, 109, 46) 2px 2px 7px;
}